<hr>

<%= @usercondition  %>

<div style="width:350px; float:left;">


<span>

<div>
	<%= label_tag(:q, "Reset all runs") %>
	<%= button_to "Reset ", {:controller => "settings",:action => "application"} ,:method => :get, class:  "btn btn-danger"%>
</div>
</span>
</div> 